# SPDX-License-Identifier: Apache-2.0

choice
	prompt "CH32Fx MCU Selection"
	depends on SOC_SERIES_CH32FX

config SOC_CH32F103X8
	bool "CH32F103X8"

config SOC_CH32F103X6
	bool "CH32F103X6"

config SOC_CH32F203X6
	bool "CH32F203X6"

config SOC_CH32F203X8
	bool "CH32F203X8"

config SOC_CH32F203XB
	bool "CH32F203XB"

config SOC_CH32F203XC
	bool "CH32F203XC"

config SOC_CH32F205RB
	bool "CH32F205RB"

config SOC_CH32F207VC
	bool "CH32F207VC"

config SOC_CH32F208XB
	bool "CH32F208XB"

endchoice
