
DT_COMPAT_WCH_SYSTICK := wch,wch-systick

config WCH_SYSTICK
	bool "WCH SYSTICK timer"
	depends on CPU_HAS_WCH_SYSTICK
	default $(dt_compat_enabled,$(DT_COMPAT_WCH_SYSTICK)) 
	select TICKLESS_CAPABLE
	select SYSTEM_TIMER_HAS_DISABLE_SUPPORT
	help
	  This module implements a kernel device driver for the SYSTICK timer in
	  WCH RISV-C processors and provides the standard "system clock driver"
	  interfaces.


