
if SOC_SERIES_CH57X

config SOC_SERIES
	default "ch57x"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 20000000

config MAIN_STACK_SIZE
	default 1024

config SYSCON_INIT_PRIORITY
	default 10

if SOC_CH573F

config SOC
	default "ch573f"

config NUM_IRQS
	default 36

endif

endif
