/dts-v1/;

#include <wch/ch57x/ch573.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	model = "ch573 evaluation board";
	compatible = "wch,ch573";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
	};

	leds {
		compatible = "gpio-leds";
		green_led_1: led_1 {
			gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
			label = "User LD1";
		};
		user_button1: button_1 {
			label = "User SW1";
			gpios = <&gpio1 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};

	aliases {
		led0 = &green_led_1;
		sw0 = &user_button1;
	};

};

&clk_lsi {
	status = "okay";
};

&clk_lse {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(32)>;
	status = "okay";
};

&clk_pll {
	status = "okay";
};

&rcc {
	clocks = <&clk_pll>;
	clock-frequency = <DT_FREQ_M(60)>;
	status = "okay";
};

&uart1 {
	current-speed = <115200>;
	status = "okay";
};

&uart3 {
	current-speed = <115200>;
	status = "okay";
};

