
#include "skeleton.dtsi"
#include <freq.h>

/ {
	chosen {
		zephyr,flash-controller = &flash;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "risvc,rv3a";
			reg = <0>;
		};
	};

	sram0: memory@20003800 {
		compatible = "mmio-sram";
	};
	
	clocks {
		clk_lsi: clk-lsi {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <32768>;
			status = "disabled";
		};

		clk_lse: clk-lse {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <32768>;
			status = "disabled";
		};

		clk_hse: clk-hse {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <DT_FREQ_M(32)>;
			status = "disabled";
		};

		pll: pll {
			#clock-cells = <0>;
			compatible = "wch,ch57x-pll-clock";
			mul = <15>;
			clocks = <&clk_hse>;
			status = "disabled";
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		interrupt-parent = <&pfic>;
		ranges;

		syscon: syscon@40001000 {
			compatible = "wch,ch57x-syscon";
			reg = <0x40001000 0x400>;
		};

		pfic: interrupt-controller@e000e000  {
			#address-cells = <1>;
			compatible = "riscv,pfic";
			reg = <0xe000e000 0x1000>;
			interrupt-controller;
			num-irq-priority-bits = <8>;
			#interrupt-cells = <2>;
		};

		systick: timer@e000f000 {
			compatible = "wch,ch57x-systick";
			reg = <0xe000f000 0x10>;
		};

		flash: flash-controller@40001800 {
			compatible = "wch,ch5x-flash-controller", "wch,ch57x-flash-controller";
			label = "FLASH_CTRL";
			reg = <0x40001800 0x400>;

			#address-cells = <1>;
			#size-cells = <1>;

			flash0: flash@0 {
				compatible = "wch,wch-nv-flash", "soc_nv_flash";
				label = "FLASH_WCH";

				write-block-size = <2>;
				/* maximum erase time for a 2K sector */
				max-erase-time = <40>;
			};
		};

		/* clk and pinctl */
		uart0: uart@40003000 {
			compatible = "wch,wch-uart";
			reg = <0x40003000 0x400>;
			interrupts = <10 0>;
			label = "UART_0";
			//support-half-duplex = <1>;
			status = "disabled";
		};

		uart1: uart@40003400 {
			compatible = "wch,wch-uart";
			reg = <0x40003400 0x400>;
			interrupts = <11 0>;
			label = "UART_1";
			status = "disabled";
		};

		uart2: uart@40003800 {
			compatible = "wch,wch-uart";
			reg = <0x40003800 0x400>;
			interrupts = <17 0>;
			label = "UART_2";
			status = "disabled";
		};

		uart3: uart@40003c00 {
			compatible = "wch,wch-uart";
			reg = <0x40003C00 0x400>;
			interrupts = <18 0>;
			label = "UART_3";
			status = "disabled";
		};

	};
};
