# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_WCH_ARM
	bool
	select BUILD_OUTPUT_HEX

if SOC_FAMILY_WCH_ARM

config SOC_FAMILY
	string
	default "wch"

source "soc/arm/wch/*/Kconfig.soc"

endif
